#map-container {
  width: 60vw;
  height: 30vw;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  #map-container {
    width: 80vw;
    height: 60vw;
  }
}

.card {
  border: 1px solid lightblue;
  border-radius: 4px;
}

.card-img-top-2 {
  border-radius: 4px 4px 0 0;
}

.card-title.teacher-name {
  margin-top: 22px;
  font-size: 20px;
}

.card-text {
  text-align: left;
}

.card-header.with-notes-background .teacher-name {
  margin-top: 10px;
}

.card-text-mobile {
  text-align: left;
}

.lesson-quote {
  padding: 5px;
}