@import "_variables";

.buttons {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 50px;
  right: 15px;
  z-index: 3;

  @media (min-width: 1200px) {
    right: 70px;
    bottom: 60px;
  }
}

.phone-button {
  width: 100px;
  height: 100px;
  margin: 0;
  background-color: $color-phone-btn;
  color: #ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;

  &-phone {
    margin-bottom: 30px;
  }
}

//----------------CALL---------------------

.callback-bt {
  background:#28a745;
  border:2px solid $color-phone-btn-text;
  border-radius:50%;
  box-shadow:0 8px 10px $color-phone-btn-0-3;
  cursor:pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  transition:.3s;
  -webkit-animation: hoverWave linear 1s infinite;
  animation: hoverWave linear 1s infinite;
  animation-delay: 5s;

  @media (min-width: 768px) {
    width: 75px;
    height: 75px;
    margin-top: 35px;
  }
}

.callback-bt .text-call{
  height: 34px;
  width: 34px;        
  border-radius:50%;
  overflow:hidden;

  @media (min-width: 768px) {
    width: 68px;
    height: 68px;
  }
}

.callback-bt .text-call span {
  color: $color-phone-btn-text;
  opacity: 0;
  font-size: 0;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity .3s linear;
}

.callback-bt .text-call:hover span {
  opacity: 0;
  font-size: 11px;
  margin: auto;

  @media (min-width: 992px) {
    opacity: 1;
    font-size: 11px;
    margin: auto;
  }
}

.callback-bt:hover i {
  display: block;
  font-size: 17px;
  transition: 0.3s;
  line-height: 33px;
  transition: .5s ease-in-out;
  text-align: center;
}

.callback-bt:hover {
  z-index:1;
  background:#fff;
  color: transparent;
  transition:.3s;
}

.callback-bt i {
  display: block;
  color:#fff;
  font-size: 17px;
  transition: 0.3s;
  line-height: 33px;
  transition: .5s ease-in-out;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 34px;
    line-height: 66px;
  }
}

.callback-bt i  {
  animation: 1500ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
  -webkit-animation: 1500ms ease 0s normal none 1 running shake;
  -webkit-animation-iteration-count: infinite;
}

.callback-bt:hover i {
  color: $color-phone-btn-text;
  font-size: 20px;
  transition:.3s;

  @media (min-width: 768px) {
    font-size: 40px;    
    line-height: 66px;
  }
}

@-webkit-keyframes hoverWave {
  0% {
    box-shadow:0 8px 10px $color-phone-btn-0-3,0 0 0 0 $color-phone-btn-0-2,0 0 0 0 $color-phone-btn-0-2
  }

  40% {
    box-shadow:0 8px 10px $color-phone-btn-0-3,0 0 0 15px $color-phone-btn-0-2,0 0 0 0 $color-phone-btn-0-2
  }

  80% {
    box-shadow:0 8px 10px $color-phone-btn-0-3,0 0 0 30px $color-phone-btn-0,0 0 0 26.7px $color-phone-btn-0-067
  }

  100% {
    box-shadow:0 8px 10px $color-phone-btn-0-3,0 0 0 30px $color-phone-btn-0,0 0 0 40px $color-phone-btn-0
  }
}

@keyframes hoverWave {
  0% {
    box-shadow:0 8px 10px $color-phone-btn-0-3,0 0 0 0 $color-phone-btn-0-2,0 0 0 0 $color-phone-btn-0-2
  }

  40% {
    box-shadow:0 8px 10px $color-phone-btn-0-3,0 0 0 15px $color-phone-btn-0-2,0 0 0 0 $color-phone-btn-0-2
  }

  80% {
    box-shadow:0 8px 10px $color-phone-btn-0-3,0 0 0 30px $color-phone-btn-0,0 0 0 26.7px $color-phone-btn-0-067
  }

  100% {
    box-shadow:0 8px 10px $color-phone-btn-0-3,0 0 0 30px $color-phone-btn-0,0 0 0 40px $color-phone-btn-0
  }
}

/* animations icon */

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }

  10% {
    transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
  }

  20% {
    transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
  }

  30% {
    transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }

  40% {
    transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
  }

  50% {
    transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
  }

  60% {
    transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
  }

  70% {
    transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
  }

  80% {
    transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
  }

  90% {
    transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
  }

  100% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}

@-webkit-keyframes shake {
  0% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }

  10% {
    transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
  }

  20% {
    transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
  }

  30% {
    transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }

  40% {
    transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
  }

  50% {
    transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
  }

  60% {
    transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
  }

  70% {
    transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
  }

  80% {
    transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
  }

  90% {
    transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
  }

  100% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}

//---------------------EMAIL------------------------

.email-bt {
  background: $color-email-btn;
  border:2px solid $color-email-btn;
  border-radius:50%;
  box-shadow:0 8px 10px $color-email-btn-0-3;
  cursor:pointer;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:.3s;
  -webkit-animation:email-an linear 1s infinite;
  animation:email-an linear 1s infinite;

  @media (min-width: 768px) {
    width: 75px;
    height: 75px;
  }
}

.email-bt .text-call{
  height: 34px;
  width: 34px;        
  border-radius:50%;
  position:relative;
  overflow:hidden;

  @media (min-width: 768px) {
    width: 68px;
    height: 68px;
  }
}

.email-bt .text-call span {
  text-align: center;
  color: $color-email-btn-text;
  opacity: 0;
  font-size: 0;
  line-height: 14px;
  text-transform: uppercase;
  transition: opacity .3s linear;
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.email-bt .text-call:hover span {
  opacity: 1;
  font-size: 11px;
  margin: auto;
}

.email-bt:hover i {
  display: block;
  font-size: 17px;
  color: $color-email-btn;
  transition: 0.3s;
  line-height: 33px;
  transition: .5s ease-in-out;
  text-align: center;
}

.email-bt:hover {
  z-index:1;
  background:#fff;
  transition:.3s;
}

.email-bt:hover i {
  color: $color-email-btn;
  font-size: 20px;
  transition:.3s;

  @media (min-width: 768px) {
    font-size: 40px;    
    line-height: 66px;
  }
}

.email-bt i {
  display: block;
  color:#fff;
  font-size: 15px;
  transition: 0.3s;
  line-height: 33px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 29px;
    line-height: 66px;
  }
}

.email-bt i  {
  -webkit-animation: opsimple 3s infinite;
  animation: opsimple 3s infinite;
}

@-webkit-keyframes email-an {
  0% {
    box-shadow:0 8px 10px $color-email-btn-0-3,0 0 0 0 $color-email-btn-0-2,0 0 0 0 $color-email-btn-0-2
  }

  40% {
    box-shadow:0 8px 10px $color-email-btn-0-3,0 0 0 15px $color-email-btn-0-2,0 0 0 0 $color-email-btn-0-2
  }

  80% {
    box-shadow:0 8px 10px $color-email-btn-0-3,0 0 0 30px $color-email-btn-0,0 0 0 26.7px $color-email-btn-0-067
  }

  100% {
    box-shadow:0 8px 10px $color-email-btn-0-3,0 0 0 30px $color-email-btn-0,0 0 0 40px $color-email-btn-0
  }

}

@keyframes email-an {
  0% {
    box-shadow:0 8px 10px $color-email-btn-0-3,0 0 0 0 $color-email-btn-0-2,0 0 0 0 $color-email-btn-0-2
  }

  40% {
    box-shadow:0 8px 10px $color-email-btn-0-3,0 0 0 15px $color-email-btn-0-2,0 0 0 0 $color-email-btn-0-2
  }

  80% {
    box-shadow:0 8px 10px $color-email-btn-0-3,0 0 0 30px $color-email-btn-0,0 0 0 26.7px $color-email-btn-0-067
  }

  100% {
    box-shadow:0 8px 10px $color-email-btn-0-3,0 0 0 30px $color-email-btn-0,0 0 0 40px $color-email-btn-0
  }
}

@keyframes opsimple {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes opsimple {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}