$color-email-btn: rgb(52,135,135);
$color-email-btn-border: rgb(52,135,135);
$color-email-btn-0: rgba(52,135,135,0);
$color-email-btn-0-067: rgba(52,135,135,0.067);
$color-email-btn-0-2: rgba(52,135,135,0.2);
$color-email-btn-0-3: rgba(52,135,135,0.3);
$color-email-btn-text: rgb(52,135,135);


$color-phone-btn: #39A341FF;
$color-phone-btn-border: #39A341FF;
$color-phone-btn-0: rgba(40,167,69,0);
$color-phone-btn-0-067: rgba(40,167,69,0.067);
$color-phone-btn-0-2: rgba(40,167,69,0.2);
$color-phone-btn-0-3: rgba(40,167,69,0.3);
$color-phone-btn-text: #28a745;
